# adapted from template for general Python projects from https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Testing
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# various OS artifacts
.AppleDouble
.DS_Store

# editor/IDE
.vscode
*~

# project specific
outdir
old
_build

# dacman output files
*.log
diff_*.yml
