botocore==1.12.42
certifi==2018.4.16
colorama==0.3.9
cycler==0.10.0
docutils==0.14
h5py==2.8.0
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
mkl-fft==1.0.4
mkl-random==1.0.1
mpi4py==2.0.0
numpy==1.15.0
pyasn1==0.4.4
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
redis==2.10.6
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tornado==5.0.2
urllib3==1.24.1
