@import "../node_modules/material-design-icons/iconfont/material-icons.css";

.App {
  /* text-align: center; */
  font-family: Avenir;
  background-color: #EBEDEF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom stuff */

.flex-container {
  display: flex;
}

.flex-body {
  display: flex;
  flex: 1;
  font-size: 14px;
}

.flex-content {
  flex: 1;
}

.flex-sidebar {
  flex: 0 0 20em;
  order: -1;
  color: #fff;
  padding: 5px 0px;
}

.header {
  background-color: #616161;
  height: 50px;
  display: flex;
}

.header div {
  color: #fff;
}

.header .rightnav {
  margin: 15px 20px 10px 20px;
}

.header .flex-right {
  margin-left: auto;
}

.header .logo {
  margin: 0;
}

.header .logo img {
  height: 40px;
  margin: 5px 5px 0 5px;
}

.header .logo .logo-text {
  margin: 12px 0 10px 0;
  font-size: x-large;
  font-family: Menlo;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.sidebar {
  background-color: #252525;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.metabuilder {
  background-color: #ebedef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/** stuff related to the meta data cards */
select, input{
  background-color: #F1F3F4;
  border-style: none;
}

.card {
  font-size: 14px;
  margin: 20px 100px 10px 50px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  color: #4d4d4d;
}

.card-title {
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #979797;
}

.card-subsection {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.table-prompt {
  padding-bottom: 10px;
}

th, td {
  padding: 5px 15px;
  text-align: left;
}

td select {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  padding-right: 200px;
}

.input-group > label {
  margin-right: 1em;
  padding: .5em 0;
}

.radio-group {
  padding: 10px 0;
}

.radio-group input {
  margin-right: 10px;
}

.radio-group label {
  margin-right: 20px;
}

.input-group input, .input-group select {
  flex: 2;
  padding: .5em;
}



.flex-form-row label {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}


.flex-form-row input {
  margin-left: 10px;
  flex: 2;
}


.return {
  padding: 10px 0px;
  margin: 0px 20px 10px 20px;
  border-bottom: 1px solid #fff;
}

.sidebar_column {
  min-height: 90vh;
}

.comparator-section-title {
  font-size: larger;
  padding: 10px 20px 10px 20px;
}

.comparator-name {
  padding: 10px 20px 10px 20px;
}

.current_comparator {
  background-color: #000;
}

.arrow_box_right {
  position: relative;
  background: #000;
  border: 1px solid #000;
}
.arrow_box_right:after, .arrow_box_right:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_right:after {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000;
  border-width: 22px;
  margin-top: -22px;
}
.arrow_box_right:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000;
  border-width: 16px;
  margin-top: -16px;
}

.runbutton {
  margin: auto 30px 30px 30px;
  padding: 10px 20px;
  border: none;
  background-color: #0072a7;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/** summary page stuff **/
.Summary {
  background-color: #EBEDEF;
  min-height: 100vh;
}

.topsummary {
  display: flex;
  justify-content: left;
  padding: 0;
}

.summarytable {
  margin-top: 30px;
  margin-left: 15px;
  border-left: 1px solid #bebebe;
  padding-left: 15px;
}

.dchartnum {
  font-size: 20px;
}

.modifiedcharts {
  margin: 20px 100px 10px 50px;
  padding-top: 10px;
}

.arrow_box {
  position: relative;
  border-top: 1px solid #979797;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 100px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ebedef;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(151, 151, 151, 0);
  border-bottom-color: #979797;
  border-width: 11px;
  margin-left: -11px;
}

.addplotlink {
  font-weight: bolder;
}

.addplotlink a {
  text-decoration: none;
  color: #0072A7;
}